ol.simple-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/

    margin: 0;
    margin-left: 1em;
    padding: 0;

    text-align:left;

    counter-reset: li-counter;
}
ol.simple-list > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 1em;
    /*border-left: 2px solid #46a1f0;*/
}
ol.simple-list > li:before {
    position: absolute;
    top: 0.4em;
    left: -1em;
    width: 1em;

    font-size: 1em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #46a1f0;

    content: counter(li-counter);
    counter-increment: li-counter;
}
