@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald')


.title
  margin-top:10px !important

.main
  background #c8cfd6


  .box
    margin-top:10px
    margin-left auto
    margin-right auto
    padding: 10px 10px 10px 10px
    border: 1px solid #009ee2   /* Set up Border */
    border-radius: 4px
    width:80%
    background:white

.column
  .fix-height
    display: inline-flex







